.css-1rkzkk[data-v-626064e7]{box-sizing:border-box;margin:0;min-width:240px;display:flex;border-right:1px solid rgb(234,236,239);position:relative;z-index:1;width:240px;flex-direction:column;justify-content:space-between}
